body{
    color: #000;
    background-color: #f5f5f5;
}


body p{
    font-family:'pana';
    color: #030303;
}

body b{
    font-family:'pana';
    color:#21399b;
}

body h3{
    font-family:'pana';
    color:#2b73ca
}

body h2{
    font-family:'pana';
    color: #1d0d60    ;
}

body h1{
    font-family:'pana';
    color: #df3e3e;}
*{
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 3px 10px;
    z-index: 10;
    background-color: #fff;

}
header.abajo{
    padding: 15px 20px;
    background-image: url(./imagenes/fondo_to.jpg);
}
header .logo{
    position: relative;
    color: #ffffff;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 2px;
    transition: 1.5s;
    text-decoration: none;
    background-color:#cf2626;

}
nav{
    display: flex;
    justify-content: center;
    align-items: center;

}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
head ul li{
    list-style: none;
}
header ul li a{
    position: relative;
    font-family: "pana";
    margin: 0 10px;
    text-decoration: none;
    color: #be1919;
    letter-spacing: 2px;
    font-weight: 600px;
    transition: 0.7s;
}

header.abajo .logo
header .abajo ul li a{
    color: #ffffff;
}


.zona1{
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

.logo{
    font-family: Arial, Helvetica, sans-serif;
    width: 10%;
    height: 9%;
    position: fixed;
    transition: .4s all;
    z-index: 1;
}
.logo ul{
    padding: 0px;
    text-align: center;
}
.logo li{
    transition: .3s all;
}
.logo a{
    text-decoration: none;
    list-style: none;
    font-weight: normal;
    transition: .3s all;
    font-size: 0px;
    padding: 0px;
}
.logo h2{
    text-align: center;
    color: #ffffff;
    padding: 7px;
    padding-bottom: 7px;
    font-size: 0px;
    height: 3px;
    padding-top:8px ;
}
.logo img{
    padding-top: 110px;
    padding-left: 30px;

}
.logo:hover{
    margin-top: 130px;
    margin-left: 25px;
    width:25%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.98);
    background-image: url(./imagenes/fondo_menu.jpg) ;
    border-radius: 19px;
}
.logo:hover h2{
    padding: 15px;
    font-size: 50px;
    border-bottom: 0px;
}
.logo:hover a{
    font-size: 15px ;
    color: #ffffff;
    display: block;
    padding: 10px;
    border-top: 0px;
    font-family: "pana";
}
.logo:hover img{
    height: 0px;
}

.logo:hover li{
    border-top:1px solid #000;
    width: 100%;
}

.logo:hover a:hover{
    font-size: 25px ;
    padding: 50px  0px;
}

.logo:hover a:hover{
    font-size:15px;
    padding: 15px  0px;
    background-color: rgba(235, 6, 37, 0.247)
}

li {
    --color: #2c425c;
    font-family: inherit;
    display: inline-block;
    width: 6em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    cursor: pointer;
    margin: 20px;
    font-size: 17px;
    z-index: 1;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
  }
  
li::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 150px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
  }
  
li:hover {
    color: rgb(240, 226, 226);
  }
  
li:before {
    top: 100%;
    left: 100%;
    transition: 0.3s all;
  }
  
li:hover::before {
    top: -30px;
    left: -30px;
  }

.primero {
    width: 100%;
    height: 450px;
    max-width: 1000px;
    margin-left: 150px;
    padding: 60px;
    background-color: white;
    margin-top: 0px;
    transform: translateY(-400px);
    border-top: 6px solid #405788;
    background-image: url(/imagenes/morado.png)
}

.ti_t1{
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
}

.sub_titu{
    font-size: 30px;
    font-weight: 400px;
    margin-top: 19px;
    margin-bottom: 50px;

}

.sub_titu_3{
    font-size: 30px;
    font-weight: 400px;
    margin-top: 19px;
    margin-bottom: 50px;

}  



.primero img{
    width: 400px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: -60px;
}

.primero .pc_1{
    margin-bottom: 0px;
}

.segundo p{
    font-size: 18px;
    font-weight: 300px;
    margin-top:  30px ;
}

.segundo {
    width: 100%;
    height: 1500px;
    max-width: 1000px;
    margin-left: 150px;
    padding: 60px;
    background-color: white;
    margin-top: 50px;
    transform: translateY(-400px);
    border-top: 6px solid #405788;
    background-image: url(/imagenes/morado.png)

}

.segundo .scaner_1{
    margin: 5px;
    margin-top: 0px;
    margin-right: 15px;
    margin-bottom: 5px;
}

.segundo .monitor{
    margin: 5px;
}

.ti_t2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
}

.sub_titu_2_1{
    font-size: 30px;
    font-weight: 400px;
    margin-top: 19px;

}

.sub_titu1{
    font-size: 30px;
    font-weight: 400px;
    margin-top: 19px;
}  

.sub_titu2{
    font-size: 30px;
    font-weight: 400px;
    margin-top: 60px;
    margin-bottom: 50px;
}  

.sub_titu3{
    font-size: 30px;
    font-weight: 400px;
    margin-top: 100px;
}  

.sub_titu4{
    font-size: 30px;
    font-weight: 400px;
    margin-top: 100px;
}  

.segundo_2 h1{
    margin-top: 150px;
}

.segundo_2 h2{
    border-top: 100px ;

}



.segundo img{
    width: 350px;
    float: right;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 50px;

}

.unidad_de_CD img{
    width: 200px;
    margin-top: -50px;
    margin-right: 80px;
    float: right;
}

.raton img{
    margin-top: 50px;
    float: left;
}

.scaner img{
    margin-right: 80px;
    float: left;
}

.segunddo p{
    font-size: 18px;
    font-weight: 300px;
    margin-top: 30px ;
}

.segundo .raton_1{
    margin: 0px;
    width: 200px;
}

/*3TEMA*/
.TERCER{
    width: 100%;
    height: 1200px;
    max-width: 1000px;
    margin-left: 150px;
    padding: 60px;
    background-color: white;
    margin-top: 0px;
    margin-left: -60px;
    transform: translateY(230px);
    border-top: 6px solid #405788;
    background-image: url(/imagenes/morado.png)

}

.barra{
    background-color: #2c425c;
    height: 30px;
    width: 1439px;
    margin-top: 300px;
    margin-left: -300px;
}

.primary-button {
    font-family: 'Ropa Sans', sans-serif;
    color: white;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.05rem;
    border: 1px solid #0E1822;
    padding: 0.8rem 2.1rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cdefs%3E%3Cstyle%3E .shape %7B fill: %23FF4655 /* fill: %230E1822; */ %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='shape' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-color: #0E1822;
    background-size: 200%;
    background-position: 200%;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;
    transition-property: background-position, border, color;
    position: relative;
    z-index: 1;
   }
   
   .primary-button:hover {
    border: 1px solid #FF4655;
    color: white;
    background-position: 40%;
   }
   
   .primary-button:before {
    content: "";
    position: absolute;
    background-color: #0E1822;
    width: 0.2rem;
    height: 0.2rem;
    top: -1px;
    left: -1px;
    transition: background-color 0.15s ease-in-out;
   }
   
   .primary-button:hover:before {
    background-color: white;
   }
   
   .primary-button:hover:after {
    background-color: white;
   }
   
   .primary-button:after {
    content: "";
    position: absolute;
    background-color: #FF4655;
    width: 0.3rem;
    height: 0.3rem;
    bottom: -1px;
    right: -1px;
    transition: background-color 0.15s ease-in-out;
   }
   
   .button-borders {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
   }
   
   .button-borders:before {
    content: "";
    position: absolute;
    width: calc(100% + 0.5em);
    height: 50%;
    left: -0.3em;
    top: -0.3em;
    border: 1px solid #0E1822;
    border-bottom: 0px;
       /* opacity: 0.3; */
   }
   
   .button-borders:after {
    content: "";
    position: absolute;
    width: calc(100% + 0.5em);
    height: 50%;
    left: -0.3em;
    bottom: -0.3em;
    border: 1px solid #0E1822;
    border-top: 0px;
       /* opacity: 0.3; */
    z-index: 0;
   }
   
   .shape {
    fill: #0E1822; 
}

/* From Uiverse.io by mrhyddenn */ 
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
  }
  
  .button::before,
  .button::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7D8082;
    transition: all .15s ease;
  }
  
  .button::before {
    top: 0;
    border-bottom-width: 0;
  }
  
  .button::after {
    bottom: 0;
    border-top-width: 0;
  }
  
  .button:active,
  .button:focus {
    outline: none;
  }
  
  .button:active::before,
  .button:active::after {
    right: 3px;
    left: 3px;
  }
  
  .button:active::before {
    top: 3px;
  }
  
  .button:active::after {
    bottom: 3px;
  }
  
  .button_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #0f1923;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
  }
  
  .button_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
  }
  
  .button_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all .2s ease;
  }
  
  .button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: #ff4655;
    transform: skew(-15deg);
    transition: all .2s ease;
  }
  
  .button_text {
    position: relative;
  }
  
  .button:hover {
    color: #0f1923;
  }
  
  .button:hover .button_sl {
    width: calc(100% + 15px);
  }
  
  .button:hover .button_lg::after {
    background-color: #fff;
  }
  




